input {
    border: 1px solid #bf4747;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    outline: 0;
    margin-left: 5px;
}

.underscore-main {
    position: relative;
    left: 40px;
    top: -9px;
    text-align: left;
    height: 0
}

span.underscore {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 2px;
    border-top: solid 1px #bf4747;
    margin-right: 20px;
}

.divbox {
    padding-bottom: 10px;
    border: 1px solid #f3b0b0
}

.top-refresh {
    position: absolute;
    right: 1px;
    top: 2px;
}

.top-save {
    position: absolute;
    right: 25px;
    top: 2px;
}

.top-refresh button,
.top-save button {
    background: none;
    border: 0;
    cursor: pointer;
    color: #2f9fe2
}

.validate {
    position: absolute;
    right: 0px;
    margin-top: -27px;
    font-size: 36px;
}

.success {
    color: rgb(11, 173, 11);
}

.wrong {
    color: rgb(238, 19, 19);
}