<div class="container">
    <app-header></app-header>
    <section>
        <div class="split left">

            <ul class="ul-list {{list.isActive ? 'active':''}}" *ngFor="let list of dataList" (click)="list.isActive= !list.isActive;GuessNumber=0">
                <li class="li-list" *ngFor="let m of list.numberList">{{m}}</li>
            </ul>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <ul class="rule">
                <li><strong>How to play</strong></li>
                <li>Step 1 : Choose a number between 1 to 63 (Keep in Mind)</li>
                <li>Step 2 : Click/Tap on card which you have choosen</li>
            </ul>
            <ul class="answer" *ngIf="GuessNumber!=0">
                <li><mark class="highlight">Your number is : {{GuessNumber}}</mark></li>
            </ul>

            <div class="center">
                <button class="btn" (click)="reset()">Reset</button>
                <button class="btn btn-primary" (click)="answer()" [disabled]="GuessNumber!=0">Answer</button>
            </div>
        </div>

        <div class="split right">
            right container
        </div>
    </section>
    <footer>

    </footer>

</div>