<div class="container">
    <app-header></app-header>
    <section>
        <div style="width:90%">
            <ul class="user-one">
                <li *ngFor="let m of user4 let i=index" [class]="m.type" (click)="selectCard(m)">
                    <div> <img [src]="selectedTheme" alt=""> </div>
                </li>
            </ul>
            <ul class="user-two">
                <li *ngFor="let m of user1 let i=index" [class]="m.type" (click)="selectCard(m)">
                    <!-- <div class="outline shadow rounded">
                        <div class="top"><span class="block">{{m.name}}</span><span class="block" [innerHTML]="m.symbol"></span></div>
                        <h1 [innerHTML]="m.symbol"></h1>
                        <div class="bottom"><span class="block" [innerHTML]="m.symbol"></span><span class="block">{{m.name}}</span></div>
                    </div> -->
                    <div> <img [src]="selectedTheme" alt=""> </div>
                </li>
            </ul>
            <ul class="user-three">
                <li *ngFor="let m of user3 let i=index" [class]="m.type" (click)="selectCard(m)">
                    <div> <img [src]="selectedTheme" alt=""> </div>
                </li>
            </ul>
            <ul class="user-four">

                <li *ngFor="let m of user1 let i=index" [class]="m.type" (click)="selectCard(m)">
                    <div class="outline shadow rounded">
                        <div class="top"><span class="block">{{m.name}}</span><span class="block" [innerHTML]="m.symbol"></span></div>
                        <h1 [innerHTML]="m.symbol"></h1>
                        <div class="bottom"><span class="block" [innerHTML]="m.symbol"></span><span class="block">{{m.name}}</span></div>
                    </div>
                </li>
            </ul>
            <div class="center">
                <div class="outline shadow rounded" style="
            top: 32%;
            position: absolute;
            left: 44%;
        ">
                    <div class="top"><span class="block">A</span><span class="block">A</span></div>
                    <h1 _ngcontent-c1="">A</h1>
                    <div class="bottom"><span class="block">A</span><span class="block">A</span></div>
                </div>
                <div class="outline shadow rounded" style="
            top: 38%;
            position: absolute;
            left: 38%;
        ">
                    <div class="top"><span class="block">A</span><span class="block">A</span></div>
                    <h1 _ngcontent-c1="">A</h1>
                    <div class="bottom"><span class="block">A</span><span class="block">A</span></div>
                </div>
                <div class="outline shadow rounded" style="
            position: absolute;
            top: 38%;
            left: 50%;
        ">
                    <div class="top"><span class="block">A</span><span class="block">A</span></div>
                    <h1 _ngcontent-c1="">A</h1>
                    <div class="bottom"><span class="block">A</span><span class="block">A</span></div>
                </div>
                <div class="outline shadow rounded" style="
            position: absolute;
            top: 44%;
            left: 44%;
        ">
                    <div class="top"><span class="block">A</span><span class="block">A</span></div>
                    <h1 _ngcontent-c1="">A</h1>
                    <div class="bottom"><span class="block">A</span><span class="block">A</span></div>
                </div>
            </div>
            <!-- 
            <div>
                <div class="current card1">1</div>
                <div class="current card2">2</div>
                <div class="current card3">3</div>
                <div class="current card4">4</div>
            </div> -->

            <!-- <div class="center">
                <button class="button" (click)="start()">START</button>
            </div> -->
        </div>

    </section>
    <footer>

    </footer>

</div>