.user-one {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.user-two {
    position: absolute;
    list-style: none;
    top: 250px;
}

.user-three {
    list-style: none;
    position: absolute;
    right: 25px;
    top: 250px;
}

.user-four {
    list-style: none;
    text-align: center;
    position: relative;
    top: 190px;
}

.user-one li,
.user-four li {
    display: inline-block;
    margin-right: -90px;
    height: 180px;
    overflow: hidden;
}

.user-two li,
.user-three li {
    display: grid;
    margin-top: -150px;
}

.user-one li:hover,
.user-four li:hover {
    font-size: 16px;
    overflow: hidden;
}

span.block {
    display: block;
}

.user-one .outline,
.user-four .outline,
.center .outline {
    width: 80px;
    border: 0px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #FFF;
}

.user-two .outline,
.user-three .outline {
    width: 110px;
    border: 0px solid black;
    text-align: center;
    padding: 7px;
    margin: 35px;
    background: #FFF;
}


/* .user-two li:hover,
.user-three li:hover {
    height: 200px;
} */

.top {
    text-align: left;
}

.bottom {
    text-align: right;
}

.shadow {
    box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
}

.rounded {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.thikri {
    color: #fc0808;
}

.laalpan {
    color: #fc0808;
}

.kalapan {
    color: #000000;
}

.chidiya {
    color: #000000;
}

.inline {
    display: inline;
    margin-left: 5px;
}

.user-one div {
    padding: 5px;
}