.sign-up {
    width: 64%;
    display: inline-block;
    margin-left: 37%;
    text-align: center
}

.sign-up-content {
    width: 35%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background: #bf4747;
    top: -1px;
    position: absolute;
    height: 284px;
    left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}