<div class="container">
    <div class="login-card">
        <!-- <div class="sign-in">
            <header>Login to play games</header>
            <p><input class="input" type="text" placeholder="Email/Mobile/Passcode"></p>
            <p><button class="button top20">SIGN IN</button></p>
            <p><button class="forgot-link">Forgot your passcode</button></p>
        </div>
        <div class="sign-in-content">
            <header>Hello, Friend! </header>
            <p class="sub-title">Enter your personal details and start with us</p>
            <p><button class="">SIGN UP</button></p>
        </div> -->
        <div class="sign-in-content">
            <header>Hello, Friend! </header>
            <p class="sub-title">Enter your personal details and start with us</p>
            <p><button class="">SIGN UP</button></p>
        </div>
        <div class="sign-in">
            <header>Login to play games</header>
            <p><input class="input" type="text" placeholder="Email/Mobile/Passcode"></p>
            <p><button class="button top20">SIGN IN</button></p>
            <p><button class="forgot-link">Forgot your passcode</button></p>
        </div>


    </div>
</div>