/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background: #ffffff;
    font-size: 14px;
    font-family: Roboto-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #555555
}

.container {
    background-color: #f3f3f3;
    height: 100vh;
}

.card {
    padding: 15px;
    margin: 10px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    border-radius: 4px;
}

.center {
    text-align: center
}

.top20 {
    margin-top: 20px;
}

.top10 {
    margin-top: 10px;
}

.top5 {
    margin-top: 5px;
}

.success-msg {
    font-size: 18px;
    color: #555;
}

.error {
    color: #ff0000;
}

hr {
    margin-left: -15px;
    width: 350px;
}

.font11 {
    font-size: 11px;
}

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1.6px solid #a9a9a9;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 15px;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    /* transform: scale(3) rotateZ(-20deg); */
    opacity: 0;
    /* transition: all .3s ease-in; */
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    /* transform: scale(1) rotateZ(0deg); */
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}

.checkbox label {
    cursor: pointer;
}

.checkbox {
    padding: 0px 0px 17px 0px;
}

select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #999999;
    color: #666666;
}

.image-description {
    margin-top: 7px;
}

.left {
    text-align: left;
}

.hiddenbtn {
    opacity: 0;
    height: 0;
    display: inherit;
}

.split {
    height: 100%;
    position: absolute;
    z-index: 1;
    /* top: 0;
    overflow-x: hidden;
    padding-top: 20px; */
}

.left {
    width: 70%;
    left: 0;
    border-right: 2px solid #bf4747
}

.right {
    width: 30%;
    right: 0;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table {
    width: 97%;
    /* max-width: 100%; */
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
    margin: 10px;
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

td {
    text-align: center;
}

td,
th {
    padding: 0;
}

.button {
    background-color: #bf4747;
    padding: 15px 25px 15px 25px;
    color: #fff;
    letter-spacing: 2px;
    border: none;
    border-radius: 10em / 9em;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-group {
    position: absolute;
    /* top: 40px; */
    right: 3%;
    padding: 0;
    margin-top: -26px;
}

.numberbox {
    font-size: 64px;
    width: 95%;
    height: 98px;
    margin: 5px;
}

.numbers {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 2px 1px 4px 1px;
    padding: -2px;
    /* border: 1px solid #bf4747; */
    height: 108px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.login-card {
    padding: 15px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    border-radius: 4px;
    width: 70%;
    position: relative;
    top: 14%;
}

.sign-in-content {
    width: 35%;
    /* display: inline-block; */
    text-align: center;
    vertical-align: top;
    background: #bf4747;
    top: -1px;
    position: absolute;
    height: 284px;
    right: 0px;
    /* left 0*/
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sign-in-content header,
.sign-up-content header {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

.sign-in-content p,
.sign-up-content p {
    color: #fff;
    font-size: 12px;
    padding: 30px;
}

.sign-in-content button,
.sign-up-content button {
    padding: 15px 25px 15px 25px;
    color: #fff;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 10em / 9em;
    background: #bf4747;
}

.sign-in {
    width: 64%;
    display: inline-block;
    text-align: center;
    /* position: relative;
    left: 275px; */
}

.sign-in header,
.sign-up header,
.header {
    font-size: 36px;
    font-weight: bold;
    color: #bf4747;
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.header {
    font-size: 30px;
    text-transform: uppercase;
}

.input {
    padding: 10px;
    display: inline-block;
    /* width: 37%; */
    background: #e3e3e3;
    border: 1px solid #b3adad;
    border-radius: 4px;
    width: 75%;
}

.sign-in .button {
    background-color: #bf4747;
    padding: 15px 25px 15px 25px;
    color: #fff;
    letter-spacing: 2px;
    border: none;
    border-radius: 10em / 9em;
}

.forgot-link {
    margin-top: 12px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #BF4747;
    line-height: 18px;
    cursor: pointer;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

button {
    cursor: pointer
}

.form-control {
    /* display: block; */
    width: 64%;
    /* height: calc(2.25rem + 2px); */
    padding: 2px;
    /* font-size: 1rem; */
    /* line-height: 1.5; */
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 5px;
    padding-right: 28px;
}