<div class="container">
    <app-header></app-header>
    <section>
        <div class="split left">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><img class="originalimage" data-name="umbrella" src="img/umbrella.png" style="display:none"> <img class="openimage" src="./../assets/images/memory/q.png"> </td>
                        <td><img class="originalimage" data-name="tree" src="img/tree.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                        <td><img class="originalimage" data-name="car" src="img/car.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                    </tr>
                    <tr>
                        <td><img class="originalimage" data-name="mobile" src="img/mobile.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                        <td><img class="originalimage" data-name="heart" src="img/heart.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                        <td><img class="originalimage" data-name="tree" src="img/tree.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                    </tr>
                    <tr>
                        <td><img class="originalimage" data-name="heart" src="img/heart.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                        <td><img class="originalimage" data-name="umbrella" src="img/umbrella.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                        <td><img class="originalimage" data-name="sleeper" src="img/sleeper.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                    </tr>
                    <tr>
                        <td><img class="originalimage" data-name="mobile" src="img/mobile.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                        <td><img class="originalimage" data-name="sleeper" src="img/sleeper.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                        <td><img class="originalimage" data-name="car" src="img/car.png" style="display:none"> <img class="openimage" src="img/q.png"> </td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>

        <div class="split right">
            right container
        </div>
    </section>
    <footer>

    </footer>

</div>