<div class="container">
    <app-header></app-header>
    <section>
        <div class="split left">
            <table class="table table-bordered">
                <tbody>
                    <tr *ngFor="let m of dataList let i=index">
                        <td>
                            <img class="clickable" *ngIf="m.IsBlank1Visible" [src]="imagePath + 'q.png'" (click)="visibleImage('image1',i)">
                            <img *ngIf="m.IsImage1Visible" [src]="imagePath + m.image1">
                            <img *ngIf="m.IsNone1Visible" [src]="imagePath + 'none.png'">
                        </td>
                        <td>
                            <img class="clickable" *ngIf="m.IsBlank2Visible" [src]="imagePath + 'q.png'" (click)="visibleImage('image2',i)">
                            <img *ngIf="m.IsImage2Visible" [src]="imagePath + m.image2">
                            <img *ngIf="m.IsNone2Visible" [src]="imagePath + 'none.png'">
                        </td>
                        <td>
                            <img class="clickable" *ngIf="m.IsBlank3Visible" [src]="imagePath + 'q.png'" (click)="visibleImage('image3',i)">
                            <img *ngIf="m.IsImage3Visible" [src]="imagePath + m.image3">
                            <img *ngIf="m.IsNone3Visible" [src]="imagePath +'none.png'">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="center">
                <button class="button" (click)="start()">START</button>
            </div>
        </div>

        <div class="split right">
            right container
        </div>
    </section>
    <footer>

    </footer>

</div>